<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-left">
                @Html.ActionLink("Browse", "Index", "Product", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("user") || User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Add Product", "AddProduct", "Product")</li>
                    }
                </ul>
            </div>

            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script>
        var Globals = {
            ServerAddr:'@System.Configuration.ConfigurationManager.AppSettings["base-url"]'
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
