@model OCS.MVC.Models.CreateProductViewModel

@{
    ViewBag.Title = "Add Product";
}

<div class="AddProduct">
        @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create Product</h4>
            <hr/>

            <div class="form-group">
                @Html.LabelFor(m=>m.ProductName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m=>m.ProductName, new { @class="form-control"})
                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProductPrice, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProductPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m=>m.Category, (SelectList)ViewData["Categories"],"Select Category", new { @class = "form-control"} )
                    @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Brand, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Brand, (SelectList)ViewData["Brands"], "Select Brand", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Brand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Image, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Add" />
                </div>
            </div>
        }
</div>